button {
    margin: 0.2em;

}

.topButton {
    width: 5em;
}

.buttonContainer {
    max-width: 21.6em;
}

.top-buttons-width {
    min-width: 5em;
}

.top-buttons-width-large {
    min-width: 12em;
}

.try-width {
    min-width: 16.2em;
}

.play-pause {
    width: 5em;
}

.enable-disable {
    min-width: 11em;
}

.opaque {
    opacity: 30%;
}

.user-level {
    min-width: 300px;
}

.endButton {
    background-color: #7e2a2a!important;
    border-color: #7e2a2a !important;

}

.endButton:hover {
    background-color:hsl(0, 50%, 27%) !important;
    border-color: hsl(0, 50%, 27%)!important;
}

.brownButton {
    background-color:#CDD6BA!important;
    border-color: #CDD6BA !important;
    color:#274120;

}

.brownButton:hover {
    background-color: #274120!important;
    border-color: #274120!important;
}

.brownButton:disabled {
    background-color:#cdd6ba74  !important; 
    border-color: hsl(79, 25%, 40%) !important;
    color: #274120;
}

.playButton {
    min-width: 15em;
}

.questionButton {
    background-color:#CDD6BA !important;
    border-color: #CDD6BA!important;

}

.questionButton:hover {
    background-color: #CDD6BA !important;
    border-color: #CDD6BA!important;
}

.userLevelSidebar {
    opacity: 100%;
    color: #ecf7d5 !important;
    animation-name: open;
    animation-duration: .3s;
}

.userLevelSidebarColor {
    color: #ecf7d5 !important;
}

@keyframes open {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}

.form-check-input:checked {
    background-color:#274120;
    border-color: #274120;
}
.correctCard:hover{
    background-color: #ecf7d5 !important;
    color:#5B7B51 !important;
}
.correctCard{
    border-color: #ecf7d5!important;
    color: #ecf7d5;
    background-color:rgba(0,0,0,0) !important;
    border-width: 0.2em;
}

.revealedCard:hover{
    background-color: #ecf7d5 !important;
    color:#5c5c5c !important;
}
.revealedCard{
    border-color: #ecf7d5!important;
    color: #ecf7d5;
    background-color:rgba(0,0,0,0) !important;
    border-width: 0.2em;
}