.groupCard{
    display: flex;
    flex-direction: row;
    margin: auto;
}
/*.groupCardConversate{*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*}*/

.card-main{
    /* background-color: #8C9569; */
    /* background-color: #243010; */
    /*background-color: #506b24;*/
     background-color: #415E39;
    height: 15em;
    border-color: black;
    margin:0.5em;
    width: 15em;
    flex-grow:1;
    /* color:  #243010; */
    color:  hsl(79, 68%, 90%);
    box-shadow: 3px 3px 10px #274120;
}

.card-disabled{
    /*background-color: hsl(107, 0%, 30%);
    height: 15em;
    border-color: black;
    margin:0.5em;
    width: 15em;
    flex-grow:1;
    color:  #ecf7d5;
    box-shadow: 3px 3px 10px hsl(107, 0%, 19%);*/
    background-color: #415E39;
    height: 15em;
    border-color: black;
    margin:0.5em;
    width: 15em;
    flex-grow:1;
    /* color:  #243010; */
    color:  hsl(79, 68%, 90%);
    box-shadow: 3px 3px 10px #274120;
}

.userCards{
    /* background-color: #243010; */
    background-color:   #415E39;
    border-color:  #415E39;
    height: 5em;
    border-color: black;
    margin:0.5em;
    width: 30em;
    flex-grow:1;
    color:  #ecf7d5;
    box-shadow: 3px 3px 10px #274120;
}

.userCards:hover{
    background-color: #274120;
    color:  #ecf7d5;
   
}

.overlap{
    margin-top: -5em;
}

.alphabetCard{
    background-color:#415E39;
    height: 8em;
    border-color: black;
    margin:0.2em;
    width: 5em;
    flex-grow:1;
    color:#ecf7d5;
    box-shadow: 3px 3px 10px #274120;
}

.alphabetCardSelected{
    background-color:#274120;
    height: 8em;
    border-color: black;
    margin:0.2em;
    width: 5em;
    flex-grow:1;
    color: #ecf7d5;
}

.alphabetCard:hover{
    background-color:#274120;
}

.alphabetCard-title{
    font-weight: bolder;
}

.card-main-img{
    padding: 0.2em;
}

.card-main-title{
    font-weight: bolder;
}

.card-main-img{
    padding: 0.2em;
}

.card-main:hover{
    /* background-color: #244f10; */
    background-color:#274120;
}

.listcard:hover{
background-color:#274120;
color:#ecf7d5;
}
.listcard{
    background-color:#ecf7d5;
    padding:0.5em;
    margin:0.25em;
    border-radius:5%;
    width:100%;
    color:#274120;
}
.card-main-text{
    color:  #ecf7d5;
    padding-top: 15px;
}
