.video-signs-conversate{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.overlap-conversate{
    margin-top: -7em;
    margin-bottom: 2em;
}


.prevent-y-scroll{
    overflow-y: hidden;
}