
/*.myaccordion{
    width:19.5em;
}
.accordion{
    flex-grow:0.2;
}

.accordion-item{
    background-color: #ECF39E;
    border:none;
    width:19.5em;
}

.accordion-header{
    background-color: #31572C ;
    border-radius:10px;
}
.accordion-collapse{
    background-color: #31572C;
    border-radius:25px;
}
.myheader{
    color: #ECF39E;
    border-radius:10px;
}
.accordion-body{
    width:38.5em;
    background-color: #31572C ;
    border-color: black;
    margin:0.5em;
    flex-grow:0.5;
    color:  #ECF39E;
}

.listawordsintopic{
    width:20em;
}
*/

.color-1{
   /* background: radial-gradient( #b9dc67,#90A955);*/
   background-color: rgba(107, 147, 94, .25);
    margin-top:0em;
    border-radius:6px;
}

.accordion-item{
    background-color:#415e3900;
    border-width:0;
    border-radius:6px;
}

.accordion-button{
    background-color: #415e39;
    border-color: #415E39;
    color: white;
    margin:0;
    border-radius:6px;
}

.accordion-header{
    background-color: #415E39;
    border-radius:6px;
}

 .accordion-button:hover{
    background-color:  #274120;
    border-color: #274120;
    color: white;
}

.accordion-header:hover{
    background-color:#274120;
    border-radius:6px;
}


/*.buttons-header-color{
    background-color: #506b24;
    border-color: #506b24;
}

.buttons-header-color:hover{
    background-color: #486220;
    border-color: #486220;
}*/

.accordion-button:not(.collapsed) {
    color: white !important;
    background-color: #274120;
    border-color: #274120;
}

.accordion-button::after{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    transform: var(--bs-accordion-btn-icon-transform);
}
