#mainModal{
    background-color:  #c6ceb4;
    color: #274120;
}
#textModal{
  
    background-color:  #CDD6BA;
    color: #274120;
}
#mainModalTitle{
    background-color:  #c6ceb4;
    color: #274120;
    font-weight: bold;
}