.mysidenav {
    /* background-color: #8C9569 !important; */
   /* background-color:rgb(25, 59, 25) !important;*/
  /* background: radial-gradient( #31572C,rgb(24, 54, 24)) !important;*/
  background-color: #274120 !important;
  /* background-color: rgb(24, 54, 24) !important;*/
    width: 1%; 
    position:fixed !important;
    height: 100%;
    min-height: 100%;
    float:left;
}

.sidenav---sidenav-toggle---1KRjR .sidenav---icon-bar---u1f02  {
    /* background-color: '#000'!important; */
    background-color: #ecf7d5 !important;
    display: block;
   
    margin: 0 auto;
    border-radius: 1px;
    transition: all 0.15s;
    /* opacity: 0.8; */
    opacity: 0.7;
}
.sidenav---sidenav-toggle---1KRjR:hover{
    background: rgba(255, 255, 255, .15) !important;
}

.backbtn:hover{
    background: rgba(255, 255, 255, .15) !important;
}

.navItemEmpty1:hover{
    background: radial-gradient( circle, rgba(26, 60, 26, 1) 0%,rgba(24, 54, 24, 1) 150%) !important;
}
.navItemEmpty2:hover{
    background: radial-gradient( circle, rgba(26, 60, 26, 1) 0%,rgba(24, 54, 24, 1) 130%) !important;
}
.navItemEmpty3:hover{
    background: radial-gradient( circle, hsl(120, 40%, 17%) 0%,rgba(24, 54, 24, 1) 110%) !important;
}

.contentBottom {		
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: bottom;
}

.svg {
    padding-bottom: 0.2em;
}